#post{
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-130%) scale(0);
    border-radius: 10px; 
    border: 1px solid gray;
    z-index: 1000;
    background-color: white;
    width: 600px;
    max-width: 80%;
    transition: all 0.2s;
    .post_header{
        padding:10PX 15PX;
        display: flex ;
        justify-content: space-between;
        align-items:center;
        .post_header_title{
            color: #3a3a3a;
            font-family: 'Roboto Mono', monospace;
            font-size: 16px;
            padding-left: 15px;
        }
        .post_header_closeButton{
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            font-size: 1.75rem;
            color:$fonts;
            font-weight: bold;
        }
    }
    .post_body{
        .post_body_header{
            display:flex;
            padding: 40px 30px;
            font-size: 12px;
            h2{
                color:#3a3a3a;
                font-size: 16px;
            }
            button{
                display: flex;
                align-items: center;
                justify-content: space-around;
                color:$fonts; 
                border:1px solid gray;
                border-radius: 20px;
                background-color: white;
                padding:7px 7px;
                width: 100%; 
                i{
                    font-size: 17px;
                }
                span{
                    padding-left: 10px;
                }              
            }
            .avatar{
                font-size: 60px;
            }
        }
    .post_textArea{
        width: 100%;
        border: none;
        padding:0px 40px;
        outline: none;
        height: 150px;
        color: $fonts;
    }
    }
}

#post.active{
    transform: translate(-50%,-100%) scale(1);
}
#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    pointer-events:none;
    transition: all 0.2s;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
    z-index: 999;
}
.medium2{
    width: 25px;
}
