.sidebar{
    border-radius: 10px;
    display: flex;
    margin: 35px 35px 0px 35px;
    max-width: 1200px;
    flex-direction: column;
    height: fit-content;
    flex:0.2;
    width: 30%;
    text-align: center;
    .sidebar_top{
        font-size: 20px;
         h4{
            margin-bottom: 10px;
            color: gray;
            margin: 5px 10px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid lightgray;
        background-color: white;
        border-top-left-radius: 10px;
        margin-bottom: 5px;
        font-size: 12px; 
        i{
            font-size: 10vh;
        }
        img{
            margin-bottom: -30px;
            width: 100%;
            height: 60px;
            height: 50px;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;

        }
    }
    .sidebar_stats{
       padding: 10px;
       margin-bottom: 10px;
       border: $border;
       background-color: white;
       p{
           margin-top: 10px;
       } 
       .sidebar_stat{
          margin-top: 10px; 
          display: flex;
          justify-content: space-around;
          p{
              color: gray;
              font-size: 14px;
              font-weight: 600;  
          }
          .sidebar_stats_number{
              font-weight: bold;
              color: #0a66c2;

          }
          
       }
    }
    .sidebar_bottom{
        text-align: center;
        display: flex;
        flex-direction: column;
        border:$border;
        background: white;
        margin-top: 10px;
        .sidebar_bottom_recent{
            text-align: left;
            margin: 10px 10px;
            
        }
        .sidebar_recentItems{
            color: gray;
            display: flex;
            white-space: nowrap;
            font-size: 12;
            margin: 10px 2px;
            margin-right: 100px;
            .sidebar_hash{
               margin-left: 5px;
            }
            &:hover{
                cursor: pointer;
                color: black;
            }
            p{
                margin-left: 5px;
                padding-bottom: 10px;
            }
        }
    }
}