.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  background-color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

.header__logo__searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo__searchbox img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

.header__logo__searchbox img:hover {
  cursor: pointer;
}

.header__searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background-color: #eef3f8;
  margin-top: 10px;
  border-radius: 5px;
}

.header__searchbox input {
  outline: none;
  background: none;
  border: none;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_right .headerOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  color: gray;
  font-size: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  white-space: nowrap;
}

.header_right .headerOption .headerOption__icon {
  margin-right: 5px;
  width: 20px;
}

.header_right .headerOption:hover {
  color: black;
  cursor: pointer;
}

.sidebar {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 35px 0px 35px;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  text-align: center;
}

.sidebar .sidebar_top {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgray;
  background-color: white;
  border-top-left-radius: 10px;
  margin-bottom: 5px;
  font-size: 12px;
}

.sidebar .sidebar_top h4 {
  margin-bottom: 10px;
  color: gray;
  margin: 5px 10px;
}

.sidebar .sidebar_top .profile {
  border-radius: 75%;
  width: 80px;
  border: 2px solid white;
}

.sidebar .sidebar_top .profile_background {
  margin-bottom: -30px;
  width: 100%;
  height: 60px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.sidebar .sidebar_stats {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: white;
}

.sidebar .sidebar_stats p {
  margin-top: 10px;
}

.sidebar .sidebar_stats .sidebar_stat {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidebar .sidebar_stats .sidebar_stat p {
  color: gray;
  font-size: 14px;
  font-weight: 600;
}

.sidebar .sidebar_stats .sidebar_stat .sidebar_stats_number {
  font-weight: bold;
  color: #0a66c2;
}

.sidebar .sidebar_bottom {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid lightgray;
  background: white;
  margin-top: 10px;
}

.sidebar .sidebar_bottom .sidebar_bottom_recent {
  text-align: left;
  margin: 10px 10px;
}

.sidebar .sidebar_bottom .sidebar_recentItems {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-size: 12;
  margin: 10px 2px;
  margin-right: 100px;
}

.sidebar .sidebar_bottom .sidebar_recentItems .sidebar_hash {
  margin-left: 5px;
}

.sidebar .sidebar_bottom .sidebar_recentItems:hover {
  cursor: pointer;
  color: black;
}

.sidebar .sidebar_bottom .sidebar_recentItems p {
  margin-left: 5px;
  padding-bottom: 10px;
}

.feed {
  -webkit-box-flex: 0.55;
      -ms-flex: 0.55;
          flex: 0.55;
  margin: 35px 20px;
}

.feed .feed_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 10px 0px;
  color: gray;
  border-radius: 10px;
}

.feed .feed_input i {
  font-size: 10vh;
}

.feed .feed_input button {
  background: lightgray;
  border: 1px solid gray;
  border-radius: 35px;
  width: 80%;
  height: 50px;
  text-align: left;
  margin: 10px 10px;
  padding-left: 20px;
  color: gray;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feed .feed_input button input {
  border: none;
  font-weight: 600;
  outline: none;
}

.feed .feed_input button:hover {
  cursor: pointer;
  color: black;
}

.feed .feed_input_container {
  background: white;
  border-radius: 15px;
  padding-bottom: 10px;
}

.feed .feed_input_container .feed_input_container_options {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feed .feed_input_container .feed_input_container_options .inputOption {
  padding-top: 10px;
  width: 15%;
  color: gray;
  margin-top: -15px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.feed .feed_input_container .feed_input_container_options .inputOption:hover {
  cursor: pointer;
  background-color: lightgray;
}

.feed .feed_input_container .feed_input_container_options h4 {
  color: gray;
}

#post {
  font-family: 'Roboto Mono', monospace;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -110%) scale(0);
          transform: translate(-50%, -110%) scale(0);
  border-radius: 10px;
  border: 1px solid gray;
  z-index: 1000;
  background-color: white;
  width: 600px;
  max-width: 80%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#post .post_header {
  padding: 10PX 15PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#post .post_header .post_header_title {
  color: #3a3a3a;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  padding-left: 15px;
}

#post .post_header .post_header_closeButton {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.75rem;
  color: #7a7575;
  font-weight: bold;
}

#post .post_body .post_body_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 30px;
  font-size: 12px;
}

#post .post_body .post_body_header h2 {
  color: #3a3a3a;
  font-size: 16px;
}

#post .post_body .post_body_header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #7a7575;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
  padding: 7px 7px;
  width: 100%;
}

#post .post_body .post_body_header button i {
  font-size: 17px;
}

#post .post_body .post_body_header button span {
  padding-left: 10px;
}

#post .post_body .post_body_header .avatar {
  font-size: 60px;
}

#post .post_body .post_textArea {
  width: 100%;
  border: none;
  padding: 0px 40px;
  outline: none;
  height: 150px;
  color: #7a7575;
}

#post.active {
  -webkit-transform: translate(-50%, -60%) scale(1);
          transform: translate(-50%, -60%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 999;
}

.medium2 {
  width: 25px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f3f2ef;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile {
  border-radius: 75%;
  width: 80px;
  border: 2px solid transparent;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */